.album {
    transform: scale(0.8);
    transition: all ease-in-out .5s;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.103);
}

.album:hover {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.089);
    transition: all ease-in-out .5s;
}