.buttons_parents {
    position: relative;
}

.buttons_child {
    position: absolute;
    right: 0;
    top: -25px;
    display: none;
}

.buttons_child button:first-child {
    background-color: #4caf50;
    /* Green */
    color: white;
    border: none;
    padding: 5;
    font-size: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.buttons_child button:first-child:hover {
    background-color: #45a049;
}

.buttons_child button:last-child {
    background-color: #f44336;
    /* Red */
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.buttons_child button:last-child:hover {
    background-color: #e53935;
}

.buttons_parents:hover .buttons_child {
    display: block;
}